<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clarusway Project - 001</title>
    <style>
        body {
            width: 600px;
            margin: auto;
        }

        div {
            margin-top: 100px;
            margin-bottom: 50px;
            margin-right: auto;
            margin-left: auto;
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .result {
            color: rgb(255, 38, 0);
            font-size: x-large;
        }

        .footnote {
            color: rgba(0, 0, 255, 0.712);
        }
    </style>
</head>

<body>
    <br>
    <h2>Project : Roman Numerals Converter Application</h2>
    <br>


    <h3><b>Result:</b></h3>
    <p>Number <span class="result"> <b> {{ number_decimal }}</b> </span>equals to <span class="result"><b>{{ number_roman }}</b></span> in Roman Numerals</p><br><br>


    <p class="footnote"><i>This app is developed in Python by <b>{{ developer_name }}</b> and deployed with Flask on AWS
            EC2 Instance using AWS Clouldformation Service.</i></p>
</body>

</html>